<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='anythingyouwant.css') }}">
</head>
<body>
    <div class="container">
        <h1>Recommended Movies 🍿</h1>
        <ul>
            {% for movie in recommendations['title'] %}
                <li>{{ movie }}</li>
            {% endfor %}
        </ul>
        <a href="/">Go Back</a>
    </div>
</body>
</html>

